@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

* {
    box-sizing: border-box;
}

body {
    background: rgb(230, 227, 227);
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    color: #000;
    position: relative;
}

.twitter {
    display: flex;
    justify-content: center;
}

i {
    color: rgb(5, 175, 231);
    border-radius: 50%;
    background: rgb(230, 227, 227);
    margin: auto 20px;
    padding: 12.5px;
    box-shadow: 7px 7px 10px #9b9da0, -7px -7px 10px white;
}


.form {
    padding: 40px;
    width: 350px;
    height: 500px;
    border-radius: 20px;
    background: rgb(230, 227, 227);
    box-shadow: 14px 14px 20px gray, -14px -14px 20px white;
}

h1 {
    color: rgb(5, 175, 231);
    text-align: center;
    letter-spacing: 1px;
    padding: 0;
    font-weight: 900;
    font-size: 1.8rem;
}

input, button {
    display: flex;
    margin: 10px auto;
    width: 100%;
    font-size: 15px;
    padding: 12px;

    border: none;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.1);
}

input {
    box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}

input:focus {
    outline: none;
}

input::placeholder {
    color: rgb(165, 164, 164);
}

button {
    background-color: rgb(5, 175, 231);
    cursor: pointer;
    font-weight: 800;
    font-size: 15px;
    letter-spacing: 1px;
    justify-content: center;
    margin: 15px auto;
    /* box-shadow: 6px 6px 6px #cbced1, -6px -6px 4px white; */
    transition: 0.5s ease;
}

button:hover {
    background: linear-gradient(to right, lightblue, rgb(5, 175, 231));
    /* background-color: rgba(26, 25, 25, 0.082); */
    color: rgb(11, 85, 109);
}

a {
    background-color: rgb(250, 250, 53);
    font-size: 8px;
    position: absolute;
    margin-left: 200px;
    border-radius: 10px;
    padding: 2px;
    text-decoration: wavy;
}